<launch>
  <!-- The robot description, used by many of the control nodes -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find crane_plus_description)/urdf/crane_plus.urdf.xacro'"
    />

  <include file="$(find crane_plus_hardware)/launch/start_arm.launch"/>
</launch>
