<launch>
  <rosparam
    file="$(find crane_plus_simulation)/config/crane_plus.yaml"
    command="load"
    />
  <param
    name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find crane_plus_simulation)/urdf/simulated_crane_plus.urdf.xacro'"
    />

  <!-- Start the manipulator's world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- Spawn the manipulator model -->
  <node
    name="spawn_urdf"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model crane_plus"
    />

  <!-- Start the robot state publisher -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    />

  <!-- Start the controllers for the arm joints and the gripper
       This launches controllers that work with the Gazebo ros_control plugin
       to provide the same interfaces that are provided by the Dynamixel
       controller nodes in the hardware version. -->
  <node
    name="controller_spawner"
    pkg="controller_manager"
    type="spawner"
    args="crane_plus crane_plus_finger"
    />

  <!-- Start the gripper command handler -->
  <node name="crane_plus_gripper"
    pkg="crane_plus_gripper"
    type="gripper_controller.py"
    output="screen"
    >
    <param name="servo_namespace" value="/crane_plus_finger"/>
    <param name="is_simulated" value="true"/>
  </node>
</launch>
