<?xml version="1.0"?>

<robot
    name="crane_plus"
    xmlns:xacro="http://ros.org/wiki/xacro"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <!-- Include the Crane+ generator macro -->
  <xacro:include filename="$(find crane_plus_description)/urdf/crane_plus.xacro"/>

  <!-- Link to provide the location reference for the arm -->
  <link name="base_link"/>

  <!-- Use the crane_plus macro to configure a Crane+ arm with desired joint
       velocities limit and lower/upper limits for the first joint. This
       allows accessing different operational areas, e.g. left-handed vs.
       right-handed robots. -->
  <crane_plus parent="base_link"
              servo_color="black" bracket_color="grey" gripper_color="black"
              joints_vlimit="1.571"
              pan_llimit="-2.617" pan_ulimit="2.617">
    <!-- Place the "floating" arm at the origin of the base_link. -->
    <origin xyz="0 0 0"/>
  </crane_plus>

  <!-- Add the transmissions necessary to move the simulated robot's joints -->
  <!-- Shoulder revolute servo -->
  <transmission name="shoulder_revolute">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="crane_plus_shoulder_revolute_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="shoulder_revolute_servo">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- Shoulder flex servo -->
  <transmission name="shoulder_flex">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="crane_plus_shoulder_flex_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="shoulder_flex_servo">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- Elbow servo -->
  <transmission name="elbow">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="crane_plus_elbow_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="elbow_servo">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- Wrist servo -->
  <transmission name="wrist">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="crane_plus_wrist_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="wrist_servo">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- Finger servo -->
  <transmission name="finger">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="crane_plus_moving_finger_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="finger_servo">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <gazebo>
    <plugin name="control" filename="libgazebo_ros_control.so"/>
    <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
      <jointName>
        crane_plus_shoulder_revolute_joint,
        crane_plus_shoulder_flex_joint,
        crane_plus_elbow_joint,
        crane_plus_wrist_joint,
        crane_plus_moving_finger_joint
      </jointName>
    </plugin>
  </gazebo>
</robot>
